@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@400;500;600;700;800&display=swap');
:root {
  --colorPrincipal: #D3FF24;
  --colorSecundario: #EBF227;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: calc(100vh - 60px);
  background-color: #111;
  color: #f4f4f4;
  font-family: 'Shippori Mincho B1', serif;
}

.header {
  background-color: #111;
}

.header__nav {
  height: 70px;
  width: 100%;
  background-color: #111;
  box-shadow: 1px 0px 5px #111;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: all 0.3s linear;
}

.nav__list {
  display: flex;
  /* Quitar gap */
  gap: 30px;
  list-style: none;
}

.nav__link {
  text-decoration: none;
  color: #f4f4f4;
  font-size: 20px;
  font-weight: 400;
  transition: color 0.3s linear;
}

.nav__link:hover {
  color: var(--colorPrincipal);;
  text-shadow: 0px 0px 7px var(--colorPrincipal);;
}

.nav__link.selected {
  color: var(--colorPrincipal);;
  text-shadow: 0px 0px 7px var(--colorPrincipal);;
}

.header__inicio {
  background-image: url("../images/back1.png");
  background-position-y: center;
  filter: brightness(1.1), saturate(1.5);
  background-repeat: no-repeat;
  margin-top: 60px;
  height: 500px;
  padding: 0 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.header__inicio>h1{
  max-width: 1440px;
  color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 80px;
  font-weight: 800;
  text-shadow: 0px 0px 5px #f4f4f4;
  /* position: relative; */
}

/* .header__inicio>p::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 5px;
  filter: blur(20px);
  background-color: #ffffff10;
} */

.header__inicio>h1>span{
  color: var(--colorPrincipal);
  font-size: 90px;
  text-shadow: 0px 0px 7px var(--colorPrincipal);
  position: relative;
}
/* 
.header__inicio>h1::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 25px;
  filter: blur(20px);
  background-color: #ffffff10;
} */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 60px; */
  /* background-color: #444; */
}

.estudios, .skills {
  padding-top: 60px;
  text-align: center;
}

.estudios__container {
  height: 500px;
  width: 900px;
  margin: 30px;
  position: relative;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* z-index: 0; */
}


.estudios__container::before {
  content: "";
  width: 110px;
  height: 110px;
  box-sizing: unset;
  position: absolute;
  top: -7px;
  left: -7px;
  background-image: linear-gradient(
    #17FF36,
    #BCFF20
    );
  /* transform: translate(-7px, -7px); */
  z-index: -1;
}

.estudios__container::after {
  content: "";
  width: 110px;
  height: 110px;
  box-sizing: unset;
  position: absolute;
  bottom: -7px;
  right: -7px;
  background-image: linear-gradient(
    #BCFF20,
    #17FF36
    );
  /* transform: translate(7px, 7px); */
  z-index: -1;
}



.estudios__linea {
  /* height: 5px; */
  width: 700px;
  display: flex;
  /* border: 1px solid red; */
  justify-content: center;
  flex-direction: column;
}

.linea {
  content: "";
  width: 100%;
  height: 5px;
  background-color: var(--colorPrincipal);
  position: relative;
}

.linea::before {
  content: "";
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid var(--colorPrincipal);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
}

.linea::after {
  content: "";
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid var(--colorPrincipal);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
}

.estudios__years {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}

.estudios__years>p {
  width: calc(100% / 4.5);
  text-align: center;
  position: relative;
}

.estudios__years>p::before {
  content: "";
  width: 1px;
  height: 20px;
  background-color: #aaa;
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translate(-100%, 0);
}

.estudios__years>p::after {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--colorPrincipal);
  position: absolute;
  bottom: -17.5px;
  left: 50%;
  transform: translate(-50%, 100%);
  z-index: 1;
}

.estudios__descri {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.estudios__descri>p {
  width: calc(100% / 4.5);
  text-align: center;
  position: relative;
}

.estudios__descri>p::before {
  content: "";
  width: 1px;
  height: 25px;
  background-color: #aaa;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translate(-100%, 0);
}

.skills__container {
  width: 900px;
  height: 640px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  flex-wrap: wrap;
}

.circular__container {
  height: 280px;
  width: calc(100% / 3.3);
  background-color: #11111120;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  /* border-radius: 5px; */
  /* background: rgba( 255, 255, 255, 0.20 ); */
  box-shadow: 0 8px 32px 0 #A61F1F30;
  backdrop-filter: blur( 10.0px );
  -webkit-backdrop-filter: blur( 10.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.circular {
  width: 153px;
  height: 153px;
  position: relative;
}

.circular__svg {
  width: 153px;
  height: 153px;
  transform: rotate(-90deg);
}

.circular__svg circle {
  fill: none;
  stroke-width: 10;
  stroke-linecap: square;
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.circular__svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #f3f3f371;
}

.circular__svg circle:nth-child(2){
  stroke-width: 11;
  stroke: #D94625;
  transition: stroke-dashoffset 1.5s ease-out;
}

.circular__container:nth-child(2) circle:nth-child(2) {
  stroke: #1C88C7;
}

.circular__container:nth-child(3) circle:nth-child(2) {
  stroke: #BFAB49;
}

.circular__container:nth-child(4) circle:nth-child(2) {
  stroke: #44D2F2;
}

.logo {
  height: calc(100% - 22px);
  width: calc(100% - 22px);
  border-radius: 50%;
  position: absolute;
  top: 13px;
  left: 10px;
}

/* @keyframes mover{
  100% {
      stroke-dashoffset: 300;
  }
} */



@media(min-width: 1440px){
  /* .header__inicio {
    padding: 0 calc(100vw - 1440px);
  } */
}


